@font-face {
  font-family: 'DIN Next', sans-serif;
  src: url(../font/din-next/regular.woff2) format('woff2'), url(../font/din-next/regular.woff) format('woff');
}

@keyframes shaking {
  0% {
    transform: scale(1);
  } 20% {
    transform: rotate(-5deg);
  } 40% {
    transform: rotate(5deg);
  } 60% {
    transform: rotate(-5deg);
  } 80% {
    transform: rotate(5deg);
  } 100% {
    transform: scale(1.1);
  }
}

* {
  font-family: 'DIN Next', sans-serif;
}
html {
  scroll-padding-top: 70.9688px;
}

.text-red {
  color: #e90000;
}
.btn-red {
  background-color: #e90000;
  border-radius: 24px;
  transition: .3s;
}
.btn-red:hover {
  background-color: #d60000;
}
h1, h2, h3, h4 {
  font-weight: bold;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2.9em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 1.2em;
}

.nav-link {
  letter-spacing: 1.5px;
}

.home {
  height: auto;
  margin-top: 70.9688px;
}
.home img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.sub-home img {
  height: 320px;
  object-fit: cover;
  object-position: top left;
}

.advantages img {
  height: 250px;
  margin: 2em 0 1em;
  object-fit: cover;
  object-position: center;
}

/* ! S: responsive breakpoints */
@media (min-width: 576px) {
  h2 {
    font-size: 3.2em;
  }
  h3 {
    font-size: 3.5em;
  }

  .home img {
    height: auto;
  }

  .sub-home img {
    height: auto;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 4.2em;
  }
}

@media (min-width: 992px) {
  .btn-red {
    padding: 1em 2em;
    border-radius: 36px;
  }
  .shaking:hover {
    animation: shaking 1s forwards;
  }
  h1 {
    font-size: 8em;
  }
  h2 {
    font-size: 6em;
  }

  .nav-link {
    background-color: transparent !important;
    color: rgba(0, 0, 0, .65) !important;
    font-weight: normal;
    letter-spacing: 1px;
    transition: .3s;
  }
  .nav-link:hover {
    color: rgba(0, 0, 0, .85) !important;
  }

  .home {
    background-image: url(../assets/images/hero/1.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 70.9688px);
    position: relative;
  }
  .home::after {
    content: '';
    background-image: linear-gradient(to right, rgba(233, 0, 0, .6), rgba(0, 0, 0, .6));
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .home * {
    position: relative;
    z-index: 1;
  }
  .home h2 {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, .6) !important;
  }
  .home img {
    display: none;
  }

  .sub-home {
    background-image: url(../assets/images/hero/2.jpg);
    background-size: cover;
    background-position: bottom left;
    background-attachment: fixed;
    position: relative;
  }
  .sub-home::after {
    content: '';
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .4), rgba(0, 0, 0, .4));
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .sub-home * {
    text-shadow: 0 0 2px rgba(0, 0, 0, .6);
    position: relative;
    z-index: 1;
  }
  .sub-home h4 {
    color: white;
  }
  .sub-home img {
    display: none;
  }

  .advantages h4 {
    font-size: 2em;
  }
  .advantages img {
    height: auto;
    margin: 5em 0;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 10em;
  }
  h2 {
    font-size: 7em;
  }
  h3 {
    font-size: 4em;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 12em;
  }
  h2 {
    font-size: 8em;
  }
  h3 {
    font-size: 4.5em;
  }
}
/* ! E: responsive breakpoints */